/* Card.css */
.cards {
    display: flex;
    justify-content: space-evenly;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 100vh;
    /* Full screen height */
    flex-wrap: wrap;

}

.card {
    width: 400px;
    /* Increased size */
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 30px;
    /* More padding */
    background-color: white;
}
.card:hover{
    transform: scale(1.1);
}

/* 
.card img {
    width: 100%;
    height: 250px;
    
    object-fit: cover;
    border-radius: 15px 15px 0 0;
} */
.card img {
    width: 100%;
    /* Set a fixed size */
    height: 300px;
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image fills the circle */
    display: block;
    margin: 0 auto;
    /* Centers the image */
    border: 4px solid #bab3b3;
    /* Optional: Green border */
}



.card h3 {
    margin: 15px 0;
    font-size: 24px;
    /* color: #FFF; */
    font-family: "Plus Jakarta Sans";
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    /* Bigger font */
}

.card p {
    color: gray;
    font-size: 18px;
    /* color: rgba(255, 255, 255, 0.70); */
    font-family: Montserrat;
    font-size: 1rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    /* Bigger text */
}

/* Card.css */
.scards {
    display: flex;
    justify-content: space-evenly;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: auto;
    /* Full screen height */
    flex-wrap: wrap;

}

.scard {
    width: 400px;
    /* Increased size */
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    padding: 30px;
    /* More padding */
    background-color: white;
}
.cardv0{
    margin: 30px;
}
.cardv0:hover {
    transform: scale(1.1); /* Scales the card to 110% of its size */
  }
  
/* 
.card img {
    width: 100%;
    height: 250px;
    
    object-fit: cover;
    border-radius: 15px 15px 0 0;
} */
.scard img {
    width: 100%;
    /* Set a fixed size */
    height: 300px;
    border-radius: 50%;
    /* Makes the image circular */
    object-fit: cover;
    /* Ensures the image fills the circle */
    display: block;
    margin: 0 auto;
    /* Centers the image */
    border: 4px solid #bab3b3;
    /* Optional: Green border */
}

.a1{
    width: 583.50; height: 200.39;left: 0;top: 0; position: 'relative';}
.a2{
    width: 583.50 ;
    height: 200.39;
    position: 'relative';
    left: 0 ;
    top : 0;
}





@media (max-width: 600px) {
    .card {
      width: 180px;
      height: 250px;
      padding: 15px;
    }
    .card img {
        width: 100%;
        /* Set a fixed size */
        height: 150px;
        border-radius: 50%;
        /* Makes the image circular */
        object-fit: cover;
        /* Ensures the image fills the circle */
        display: block;
        margin: 0 auto;
        /* Centers the image */
        border: 4px solid #bab3b3;
        /* Optional: Green border */
    }
    .card h3 {
        margin: 15px 0;
        /* font-size: 10px; */
        /* color: #FFF; */
        font-family: "Plus Jakarta Sans";
        font-size: 1rem;
        font-style: italic;
        font-weight: 800;
        line-height: normal;
      
        /* Bigger font */
    }
    .card p {
        color: gray;
        /* font-size: 18px; */
        /* color: rgba(255, 255, 255, 0.70); */
        font-family: Montserrat;
        font-size: .5rem;
        font-style: italic;
        font-weight: 700;
        line-height: normal;
        /* Bigger text */
    }
    .pattern img{
        height: 80px;
    }
  }